/* inicio */

html{
  font-size: 16px;
  font-family: sans-serif;
}

main{
  display: flex;
}

.izquierda, .derecha{
  box-sizing: border-box;
  width: 50vw;
  height: 100vh;
  padding: 2% 0;
  /* Centrar los hijos directos */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

/* Izquierda */
.izquierda{
  background-color: rgb(216, 213, 213);
}

.izquierda__titulo, .derecha__titulo{
  color:grey;
}

h4,h5{
  margin: 0;
  font-weight: 300;
}
h4{
  font-size: 85px;
}
h5{
  font-size:30px;
}

/* Derecha */
.derecha{
  background-color: rgb(252, 251, 251);
}

.formularioDerecha{
  flex-grow: 0.5;
}

/* Formulario */
form{
  width: 60%;
  margin-top:20px ;
}

input, textarea, button{
  padding: 10px;
}

ul{
  /* separar y girar todos los li */
display: flex;
flex-direction: column;
gap:15px;
}

li{
  /* Pone un li encima de otro */
  display: flex;
  flex-direction: column;
}

/* Checkbox */



